
<div class="container" >
  <div class="row">
    <div class="col">
      <img src="/assets/img/foto.jpg" class="img-thumbnail" alt="...">
    </div>
    <div class="col-sm-9 p-3 mb-2 bg-secondary text-white position-relative">
      <h1>Marcelo Romero</h1>
      <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Aut ducimus eius minus neque nulla numquam veniam! Accusantium expedita, explicabo inventore repudiandae rerum saepe. Autem distinctio fugiat in inventore ratione, soluta!</p>
      <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Asperiores commodi eligendi explicabo modi nesciunt sint totam vitae voluptates? Aperiam aut commodi eaque facere modi necessitatibus quisquam quod rerum ut vel. Lorem ipsum dolor sit amet, consectetur adipisicing elit. Adipisci atque autem blanditiis, debitis dignissimos dolor eius expedita facilis fugiat ipsa ipsam magnam minima nemo odio, odit omnis quia quibusdam vitae.</p>
    </div>
  </div>
</div>

